asgiref==3.9.1
certifi==2025.8.3
dataclasses==0.6
Django==5.2.6
django-cors-headers==4.3.1
django-mongodb-backend==5.2.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
djongo==1.2.31
dnspython==2.8.0
gunicorn==23.0.0
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
PyJWT==2.10.1
pymongo==4.15.1
pytest==8.4.2
pytest-django==4.11.1
python-dotenv==1.1.1
pytz==2025.2
sqlparse==0.5.3
cryptography==41.0.7
